.about_card{
    display: flex;
    margin-bottom: 80px;
}

.about_img{
    width: 500px;
    height: 500px;
    margin: 30px 0px 50px 0px;
}

.about-content{
    width: 900px;
    height: 530px;
    background-color: white;
    box-shadow: 0px 2px 4px 0px;
}
.about-content h2{
    font-weight: bold;
    padding: 40px 0px 10px 30px;
    font: Arial;
}

.about-content h5{
    font-weight: bold;
    font-size: 15px;
    padding: 10px 200px 10px 30px;
}

.about-content p{
    padding: 10px 50px 10px 30px;
}
#seleb_img{
    flex: none;
    border-radius: 50%;
  
   
    
}