/* Colors */
/* 
black
#14213d 
#fca311
#e5e5e5
white
 */
:root {
  --darkblue: #14213d;
  --orange: #fca311;
  --grey: #e5e5e5;
  --white: #ffffff;
}


body,
::after,
::before {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  box-sizing: border-box;
}

/* header */

.header {
  background-color: black;
}

.headertop_desc {
  background: #222;
  border-bottom: 1px solid #EEE;
}

.wrap {
  background-color: var(--darkblue);
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.nav_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.nav_list li {
  display: inline;
  border-left: 2px ridge #3D3B3B;
}

.nav_list li a {
  color: white;
  padding: 5px 10px;
  display: inline-block;
  font-family: 'ambleregular';
  text-decoration: none;
  transition: all 0.3s ease;

}

.nav_list li a:hover {
  color: var(--orange);
  transform: translateX(-5px);
}

.nav_list li:first-child {
  border: none;
}

.account_desc {
  margin-right: 50px;

}

.account_desc li {
  list-style: none;
}

.account_desc li a {
  font-size: 0.823em;
  color: white;
  padding: 0 10px;
  font-family: 'bold';

}

.account_desc li a:hover {
  color: var(--orange);
}


.d-flex {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 100px;
}

#search_bar {
  width: 400px;

}

/* slider */
.ban_img {
  height: 600px;

}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: white;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* content */

.header_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 100px;
  padding: 0px 15px 0px 25px;
}

.content-title {
  font-weight: bold;
  color: black;
}

.seeMore {
  border: none;
  background-color: white;
}

.seeMore:hover {
  color: var(--orange)
}

.card-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
}

.card {
  flex: 0 0 auto;
  width: 300px;
  height: 400px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-image {
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 20px;
}

.card-info {
  color: #fff;
  text-align: center;
}

.card-info h2 {
  margin-bottom: 10px;
}

.card-info p {
  margin-bottom: 15px;
}

.book-now-btn {
  background-color: var(--darkblue);
  color: #fff;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: auto;
  transition: background-color 0.3s ease;
}

.book-now-btn:hover {
  background-color: var(--orange);
}

/*# sourceMappingURL=content.css.map */



/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar handle */
  border-radius: 6px;
  /* Rounded corners of the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color of the scrollbar handle on hover */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Color of the scrollbar track */
  border-radius: 6px;
  /* Rounded corners of the scrollbar track */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  /* Shadow effect on the scrollbar track */
}





/* Footer */
.footer {
  height: 350px;
  width: 100%;
  background-color: var(--grey);
}