/* Code by Krunal Kharat */

.wrapper2 {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 200px;

}


.card-container {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}


.card {
    flex: 0 0 auto;
    width: 300px;
    height: 400px;
    margin: 20px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.815);
    border-radius: 8px;
    overflow: hidden;
}

/* filter */

.dropdown-menu {
    background-color: white;
    color: black;
    border: 2px solid palevioletred;
    padding: 10px 20px;

}

.filter-container {
    padding: 10px;
    width: 900px;
    max-height: 250px;
    overflow-y: scroll;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.radio-group {
    margin-bottom: 10px;
}

.radio-label {
    margin-right: 10px;
    font-weight: bold;
}


.radio-group label {
    display: inline-block;
    padding: 6px;
    margin-bottom: 5px;

}


#filter-btn {
    display: block;
    width: 100%;
    margin-top: 10px;
}